@import '../../Styles/mixins';
.header-container {
    width: calc(100% - 0px);
    float: left;
    padding: 15px 10px 11px 10px;

    background: linear-gradient(-180deg, #315195 0%, #14213D 100%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    // position: fixed;
    position: sticky;
    overflow-y: scroll;
    overflow-x: hidden;
         /* Prevents page scroll */
         -webkit-user-drag: none;
         user-select: none;
    @include media (phone) {
        width: 100%;
        padding: 0 0;
        // line-height: 28px;
        // background: #315195;
        flex-direction: column;
        margin-bottom: 2px;
    }

.main{

width: 100%;
display: flex;
@include media (phone) {
    line-height: 28px;
}
@include media (largeHug){
    width: 100%;
}

    .logo {
        width: 230px;
        text-align: center;
        @include media (phone) {
            display: flex;
            justify-content: baseline;
            text-align: center;
                        }
                        .logo-icon{
                            display: none;
                            @include media (phone) {
                                margin: 7px 28px 6px 6px;
                                display: block;


                                .fa-bars{
                                    font: normal normal normal 14px / 1 FontAwesome;
                                    font-size: 30px;
                                    text-rendering: auto;
                                    -webkit-font-smoothing: antialiased;
                                    color: white;


                                &:before {
                                    content: "\f0c9";
                                }}
                            }  
                        }
                        .logo-name{
                            display: none;
                            @include media (phone) {
                                display: block;
                                font-weight: 700;
                                color: #fff;
                                font-size: 18px;
                                margin-top: 10px;
                                margin-right: 15px;

    margin-bottom: 10px;
                                            }
                        }
                        .client-name{
                            display: none;
                            @include media (phone) {
                                color: white;
                                display: block;
                                font-size: 13px;
                                margin-top: 10px;
                             

                                
                                            }
                        }
        img {
            width: 75%;
            @include media (phone) {
display: none;
            }
        }
    }

    .wrapper {
        display: flex;
        width: 77.5%;
        @include media (largeHug) {
            width: 85.5%;
           
                        }
    }

    .news {
        width: 44.5% ;
        color: #fff;
        float: left;
        padding: 7px 2px;
        font-weight: 700;
        font-size: 12px;
        background-color: #fff;
        border: 1px solid #ccc;
        box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
        transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
        border-radius: 3px;
        margin-top: 20px;
        font-size: 12px;
        height: 18px;
        background: linear-gradient(#f60105 0, #801011 100%);
        a{
            text-decoration: none;
            color: white;
        }
        @include media (phone){
            display: none;
        }

    }

    .right-col {
        width: 23%;
        display: flex;
        justify-content: end;
        @include media (phone){
            display: flex;
            width: 23%;
    justify-content: end;
    // margin-right: 10px;
        }
        // display: ;
        ul {
            margin: 0%;
            padding: 0%;
            list-style: none;
            display: flex;
            align-items: end;
@include media (phone){
    flex-direction: column;
    align-items: center;
    margin-right: 5px;
}
            a {
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }

            .exposure {

                border: 1px solid #fff;
                border-radius: 5px;
                padding: .5px;
                margin-left: 1px;
                // margin-right: 3px;
                text-align: left;
@include media (phone){
    display: none;
}

                a {
                    display: flex;
                    align-items: center;
                    justify-content: start;
                    color: white;
                    padding: 3px 15px 0 14px;
                    font-size: 15px;
                    margin-bottom: 3px;
                    // margin-top: 3px;
                    // line-height: 1.1;
                    letter-spacing: .4px;
                    text-wrap: nowrap;
                    font-weight: bold;
                    &:nth-child(1){
                        margin-bottom: 0px;
                    padding: 5px 15px 2px 14px;


                    }

                    span {
                        &:nth-child(2) {
                            color: #fc0;
                        }
                    }
                }
            }

            .home-icon {
                padding-bottom: 4px;
                @include media (phone) {
                    padding-bottom: 0px;

                }
                a {

                    padding: 10px 11px;
                }
                .fa-user
                {
                    color: white;
                    &:before {
                    content: "\f007";
                }}

                svg {
                    color: white;
                    font-size: 19px;
                    font-weight: 700
                    ;
                }
            }

            .user-name {
                text-transform: capitalize;
                cursor: pointer;
                padding: 0px 11px;
                font-weight: 600 !important;
                font-size: 15px;
                color: #fff;
                position: relative;
                // @include media (phone){
                //     font-size: 11px;
                // }

                svg {
                    font-size: 22px;
                    margin: -6px 0px;

                }

                .open {
                    display: block;
                }

                .close {
                    display: none;

                }

                .drop-down {
                    position: absolute;
                    top: 170%;
                    background-color: white;
                    right: 0%;
                    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
                    border-radius: 2px;

                    ul {
                        list-style: none;
                        color: black;
                        display: flex;
                        flex-direction: column;
                        white-space: nowrap;
                        justify-content: start;
                        align-items: start;

                        li {
                            width: calc(100% - 10px);
                            padding: 12px 0;
                            font-size: 12px;
                            color: #232323;
                            letter-spacing: 1px;
                            font-weight: 400;
                            padding-inline: 5px;
                            border-bottom: 1px solid #d8d8d8;
                        }
                    }
                }
            }
        }
    }}
.main-expo{
display: none;
    @include media (phone){

        display: flex;
        width: 100%;
        justify-content: center;
        font-size: 13px;
       
        background: white;
    }
    .main-area{
        color: #0c963d;
        margin-right: 20px;
        display: flex;
        gap: 5px;
        @include media (phone){

            align-items: center;
        }
        img{
            height:80%;
            margin: auto 0;
        }
    }
    .expo-area{
        color:red;
        display: flex;
        @include media (phone){

            align-items: center;
        } 
    }
}
.marquee {
    width: 100%;
    display: none;
    color: #fff;
    float: left;
    padding: 6px 0px;
    font-weight: 700;
    font-size: 12px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    border-radius: 3px;
    // margin-top: 20px;
    height: 18px;
    background: linear-gradient(#f60105 0, #801011 100%);
    @include media (phone){
        display: inline-flex;
    }

}

}

/////sub nav bar

.sub-navbar {
    background-color: #0c1f22f5;
    width: 100%;
    @include media (phone){
        display: none;
    }

    .list {
        margin: 0%;
        padding: 0%;
        display: flex;
        align-items: center;
        list-style: none;
  
        .active-link {
            background: linear-gradient(-180deg, #315195 0%, #14213D 100%);// Red background for active item
            // color: white;
          
          }
          .list-tag {
              text-transform: capitalize;
            padding: 10px 8px;
            cursor: pointer;
            color: white;
            font-size: 14px;
            letter-spacing: 1px;
            font-weight: 700;
            position: relative;
        
            .active-link {
                background: linear-gradient(-180deg, #315195 0%, #14213D 100%);// Red background for active item
                color: white;
              
              }
            &:hover {
                background: linear-gradient(-180deg, #315195 0%, #14213D 100%);
            }

            // .drop-down-open{
            //     height: fit-content;
            // }
            // .drop-down-close{
            //     height: 0px;
            // }

       
        }

    }
    .report {
        .drop-list {
    
            height: 0px;
            position: absolute;
            top: 100%;
            left: 0%;
            overflow:hidden ;
        }
    
        &:hover {
    
            .drop-list {
                position: absolute;
                top: 100%;
                left: 0%;
                width: 200px;
                height: fit-content;
                height: fit-content;
                background-color: white;
                box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
                z-index: 999;
    
    
                ul {
                    display: flex;
                    flex-direction: column;
                    align-items: start;
                    margin: 0%;
                    padding: 0%;
                    a{
                        text-decoration: none;
                        color: black;
                        width: 100%;
                      
                      
                    }
    
                    .sub-list {
                        height: 35px;
                        width: calc(100% - 16px);
                        white-space: nowrap;
                        text-align: left;
                        letter-spacing: 1px;
                        list-style: none;
                        font-size: 14px;
                        padding: 11px 8px;
                        padding-block: 0;
                        border-bottom: 1px solid gray;
                        font-weight: 400;
                        display: flex;
                        align-items: center;

                        justify-content: start;
                    &:nth-child(4){
                        border-bottom: none;
                    }
                       
                       
    
                    }
                }
            }
        }
    }
}
a{
    text-decoration: none;
    color:white;
}

.active-links {
    background: linear-gradient(-180deg, #315195 0%, #14213D 100%);// Red background for active item
    color: white !important;
    border-top: 3px solid white;
    font-weight: 700;
    border-bottom: 4px solid #8bc212;
    
&:nth-child(1){
    border-top:none ;
}
  
  }


  .a{
 padding: 0px 0px !important;
    margin: 0;
    border-radius: 0px;
    // background: red;
    // border-radius: 0 ;


  }
  #login-menu{
    // background: #0c963d;
    padding: 0 8px;
    line-height:none;
    margin: 0;
    // border-radius: 2px;
    min-height: 30px;
    &:nth-child(1){
        
        border-bottom: 1px solid #ccc;
    }

    a{
        letter-spacing: 1px;
        font-size: 12px;
        // padding: 8px 0;
        font-family: Menlo, Monaco, Consolas, "Courier New", monospace;

  
        span{
            margin-right: 3px;
        }
   

    }
  }

  