@import '../../../../Styles/mixins';
.fancy-container{
    width: 100%;
//   border: 1px solid black;
background: white;
  display: flex;
 
  .fancy-row-odds{
    display: flex;
    // height: auto;
    width: 60%;
    // height: 20px;
    padding: 6px 3px;
    justify-content: space-between;
    font-weight: 700;
    background:linear-gradient(-180deg, #243a48 20%, #172732 91%);
    font-size: 13px;
    border: .5px solid black;
    border-top: none;
    border-left:none; 
   
    @include media (phone){
      width:60% ;
    }
    &:last-child{
        border-left: none;
    }
    &:first-child{
        border-right: none;
    }

    .fancy-game-name{
      padding: 4px;
      margin: 0;
    
    }
    .fancy-game-price{
      color: green;
      padding: 4px;
      margin: 0;
     }
    
  }
  .bat{

     border-left: .5px solid black; 

  }
  .fancy-rowright{
    width: 40%;
    @include media (phone){
      width: 40%;
    }
    display: flex;
    .fancy-col1{
      width: 50%;
      display: flex;
      @include media (phone){
        width: 100%;
      }
      .fancy-row-odds{
        width: 50%;
        // border: .5px solid black;
      }
    
      &:last-child{
        @include media (phone){
          display: none;
        }
      }
    }
    .col2{
      position: relative;
      .overback{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        // padding: 5px;
        font-weight: 700;
        color: red;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        background:  rgba(255,255,255,0.5);
      }
    }
  }
} 
.back-value{
    background: #72bbef;
    display: flex;
    flex-direction: column;
    font-size: 12px;
    justify-content: center;
    position: relative;
    p{
      text-align: center;
      padding: 0;
      margin: 1px;
      &:last-child{
        font-size: 8px;
        margin: 3px;
        // color: green;
      }
    }

}

.lay-value{
    background: #faa9ba;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 12px;
    p{
      text-align: center;
      padding: 0;
      margin: 1px;
      &:last-child{
        font-size: 8px;
        margin: 3px;
        // color: green;
      }
    }
}


.odds-up-color{
  background-color: yellow !important;
}
.dds-down-color{
  background-color: red !important;
}