.mainloader{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(-180deg, #315195 0%, #14213D 100%);
    
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;

    left: 0;
    z-index: 99999999;
    .element {
      height: 60px;
        animation: rotateAnimation .4s infinite;
      }
      
      @keyframes rotateAnimation {
        from {
          transform: rotateY(0deg);
        }
        to {
          transform: rotateY(360deg);
        }
      }

}