@import '../../../../Styles/mixins';
.row-container{
    width: 100%;
//   border: 1px solid black;
background: white;
  display: flex;
  cursor: pointer;
 
  .row-odds{
    display: flex;
    // height: auto;
    width: 40%;
    // height: 20px;
    padding: 6px 3px;
    justify-content: space-between;
    font-weight: 700;
    font-size: 13px;
    border: .5px solid black;
    border-top: none;
    border-left:none; 
   
    @include media (phone){
      width:60% ;
    }

    .game-name{
      padding: 4px;
      margin: 0;
    
    }
    .game-price{
      color: green;
      padding: 4px;
      margin: 0;
     }
    
  }
  .bat{

     border-left: .5px solid black; 

  }
  .rowright{
    width: 60%;
    @include media (phone){
      width: 40%;
    }
    display: flex;
    .col1{
      width: 33.33%;
      display: flex;
      @include media (phone){
        width: 100%;
      }
      .row-odds{
        width: 50%;
        // border: .5px solid black;
      }
      &:first-child{
        @include media (phone){
          display: none;
        }
      }
      &:last-child{
        @include media (phone){
          display: none;
        }
      }
    }
    .col2{
      position: relative;
      .overback{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        // padding: 5px;
        font-weight: 700;
        color: red;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        background:  rgba(255,255,255,0.5);
      }
    }
  }
} 
.back-value{
    background: #72bbef;
    display: flex;
    flex-direction: column;
    font-size: 12px;
    justify-content: center;
    position: relative;
    p{
      text-align: center;
      padding: 0;
      margin: 1px;
      &:last-child{
        font-size: 8px;
        margin: 3px;
        // color: green;
      }
    }

}

.lay-value{
    background: #faa9ba;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 12px;
    p{
      text-align: center;
      padding: 0;
      margin: 1px;
      &:last-child{
        font-size: 8px;
        margin: 3px;
        // color: green;
      }
    }
}


.odds-up-color{
  background-color: #fcc40e !important;
}
.dds-down-color{
  background-color: red !important;
}