@import'../../../../Styles/mixins';
.table-container{
    width: 100%;
//   border: 1px solid black;
background: white;
  display: flex;
  .row-heading{
    display: flex;
    width: 10%;
    height: 20px;
    padding: 6px 3px;
    justify-content: center;
    font-weight: 700;
    font-size: 13px;
    border: .5px solid black;
    border-left:none; 
    &:first-child{
        width: 45%;
        background: linear-gradient(-180deg, #243a48 20%, #172732 91%);
        color: #fff;
        letter-spacing: .3px;
        font-weight: 700;
        border-left: .5px solid black;
        justify-content: left;
        align-items: center;
        @include media (phone){
          width: 60%;
        }

    }
    &:nth-child(2){
      @include media (phone){
        display: none;
      }

    }
    &:nth-child(3){
      @include media (phone){
        display: none;
      }

    }
    &:nth-child(4){
      @include media (phone){
        width: 20%;
      }
    }
    &:nth-child(5){
      @include media (phone){
        width: 20%;
      }

    }
    &:nth-child(6){
      @include media (phone){
        display: none;
      }

    }
    &:nth-child(7){
      @include media (phone){
        display: none;
      }

    }
    
  }
} 
.back{
    background: #3199e7;
    // padding: 0 !important;
    @include media (phone){
      width: 20%;
    }
}
.lay{
    background: #f77791 ;
    // padding: 0 !important;
    @include media (phone){
      display: none;
      width: 20%;
    }
}